<body>

    <div className="wrapper">
        
        <div className="sidebar">
           <h6 >Account Settings</h6>
           <ul>

           
            <li>
                <a href="">
                <input className="inp" type="radio" id="opcion1" name="opciones" />
                <label for="opcion1" >  <span className="icon "><i className="bi bi-sim vector"></i></span> <span className="item">  Overview</span></label>
            </a>  
            </li>
            <li>
                <a href="">
                <input className="inp" type="radio" id="opcion2" name="opciones" />
                <label for="opcion2" >   <span className="icon "><i className="bi bi-sim vector"></i></span> <span className="item">  Messages</span></label>
            </a>  
            </li>
            <li>
                <a href="">
                <input className="inp" type="radio" id="opcion3" name="opciones" />
                <label for="opcion3" >   <span className="icon "><i className="bi bi-sim vector"></i></span> <span className="item">  Reading History</span></label>
            </a>  
            </li>
            <li>
                <a href="">
                <input className="inp" type="radio" id="opcion4" name="opciones" />
                <label for="opcion4" >   <span className="icon "><i className="bi bi-sim vector"></i></span> <span className="item">  Wallet</span></label>
            </a>  
            </li>
            <li>
                <a href="">
                <input className="inp" type="radio" id="opcion5" name="opciones" />
                <label for="opcion5" >   <span className="icon "><i className="bi bi-sim vector"></i></span> <span className="item">  Profile Information</span></label>
            </a>  
            </li>
            <li>
                <a href="">
                <input className="inp" type="radio" id="opcion6" name="opciones" />
                <label for="opcion6" >   <span className="icon "><i className="bi bi-sim vector"></i></span> <span className="item">  Purchase History </span></label>
            </a>  
            </li>
            <li>
                <a href="">
                <input className="inp" type="radio" id="opcion7" name="opciones" />
                <label for="opcion7" >   <span className="icon "><i className="bi bi-sim vector"></i></span> <span className="item">  Favorite Psychics</span></label>
            </a>  
            </li>
            <li>
                <a href="">
                <input className="inp" type="radio" id="opcion8" name="opciones" />
                <label for="opcion8" >   <span className="icon "><i className="bi bi-sim vector "></i></span> <span className="item">  Contact Support</span></label>
            </a>  
            </li>
            
           
        </ul>
        </div>

    </div>
    
</body>