<section>

  <div>
    <h6 >Messages</h6>
  </div>
<div className="row">
        <div className="col colo">
          <form className=" input-wrapper " role="search">
            <input className="input1" type="search" placeholder="Search by name, ext, topics, tools, skills..." aria-label="Search">
             <img className="imgI seal" src="assets/images/Icon2.png" alt="Icono"> 
          </form>
        </div>

          <div className="col colo2">

            <div className="row">
              <div className="col text">Show per Page</div>
              <div className="col">
                <select className=" select " aria-label="">
                  <option selected>1</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>

          
          </div>

        </div>

        <div className="card">
          <table>
            <thead>
              <tr>
                <th>NAME <i className="bi bi-arrow-down-up"></i></th>
                <th>QUESTIONS</th>
                <th>SUBJECT</th>
                <th>DATE <i className="bi bi-arrow-down-up"></i></th>
                <th>TIME <i className="bi bi-arrow-down-up"></i></th>
              </tr>
            </thead>
            <tbody>
             
              <tr>
                <td> <img className="profile-pic" src="assets/images/img.png"> Healing Hearts</td>
                <td>No matter what answer you seek, we have a psychic for you...</td>
                <td>Love & Marriage</td>
                <td>Today</td>
                <td>10:38 AM</td>
              </tr> 
              <tr>
                <td> <img className="profile-pic" src="assets/images/img.png"> Healing Hearts</td>
                <td>No matter what answer you seek, we have a psychic for you...</td>
                <td>Love & Marriage</td>
                <td>Today</td>
                <td>10:38 AM</td>
              </tr> 
              <tr>
                <td>
                   <img className="profile-pic" src="assets/images/img.png"> Healing Hearts</td>
                <td>No matter what answer you seek, we have a psychic for you...</td>
                <td>Love & Marriage</td>
                <td>Today</td>
                <td>10:38 AM</td>
              </tr> 
              <tr>
                <td> <img className="profile-pic" src="assets/images/img.png"> Healing Hearts</td>
                <td>No matter what answer you seek, we have a psychic for you...</td>
                <td>Love & Marriage</td>
                <td>Today</td>
                <td>10:38 AM</td>
              </tr>
              <tr>
                <td> <img className="profile-pic" src="assets/images/img.png"> Healing Hearts</td>
                <td>No matter what answer you seek, we have a psychic for you...</td>
                <td>Love & Marriage</td>
                <td>Today</td>
                <td>10:38 AM</td>
              </tr> 
              <tr>
                <td> <img className="profile-pic" src="assets/images/img.png"> Healing Hearts</td>
                <td>No matter what answer you seek, we have a psychic for you...</td>
                <td>Love & Marriage</td>
                <td>Today</td>
                <td>10:38 AM</td>
              </tr>
               <tr>
                <td> <img className="profile-pic" src="assets/images/img.png"> Healing Hearts</td>
                <td>No matter what answer you seek, we have a psychic for you...</td>
                <td>Love & Marriage</td>
                <td>Today</td>
                <td>10:38 AM</td>
              </tr>
               <tr>
                <td> <img className="profile-pic" src="assets/images/img.png"> Healing Hearts</td>
                <td>No matter what answer you seek, we have a psychic for you...</td>
                <td>Love & Marriage</td>
                <td>Today</td>
                <td>10:38 AM</td>
              </tr>
               <tr>
                <td> <img className="profile-pic" src="assets/images/img.png"> Healing Hearts</td>
                <td>No matter what answer you seek, we have a psychic for you...</td>
                <td>Love & Marriage</td>
                <td>Today</td>
                <td>10:38 AM</td>
              </tr>
              
            </tbody>
          </table>
        </div>

        <div className="paginati">

         
                <a className="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true"></span>
                </a>
              <button className="btn butto"><i className="bi bi-chevron-left"></i></button>
              <button className="btn  butto">1</button>
              <button className="btn  butto">2</button>
              <button className="btn  butto">3</button>
              <button className="btn  butto">4</button>
              <button className="btn  butto">5</button>
              <button className="btn  butto"><i className="bi bi-chevron-right"></i></button>
                <a className="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true"></span>
                </a>
             

        </div>

</section>
