<nav>
    <div class="enlaces">
        <a href="/">Our Psychics</a>
        <a href="/about-us">Psychic Cash</a>
        <a href="/">How it Works</a>
        <a href="/about-us">Horoscopes</a>
        <a href="/">Customer Care</a>
      </div>

    <div class="botones">
        <form class=" input-wrapper " role="search">
            <input class="input1" type="search" placeholder="Search by name, ext, topics, tools, skills..." aria-label="Search">
             <img class="imgI seal" src="assets/images/Icon2.png" alt="Icono"> 
          </form>
      <button class="button2 input-wrapper"> <img class="imgI2 seal2" src="assets/images/Icon3.png" alt="Icono"> 111-222-3333  </button>
    </div>
  </nav>
  
