<section>

    <div className="h68s">
        <div className="row ">
            <div className=" col colo8s">
                <h6>Contact Support</h6>
            </div>
        </div>
    </div>

    <div className="row">
        <div className="col-7">

            <p className="hs">Submit a Support to Our Customer Support Team</p>
            <form className="mains">
                <div className="row">
                    <div className="col-12">
                        <div className="inputf7s">
                            <label for="nombre"> Subject</label>
                            <input type="text" id="nombre" name="nombre" autocomplete="off" placeholder="Subject Text goes here">
                        </div>
                    </div>
        
                    <div className="col-12">
                        <div className="inputf7s">
                            <label for="nombre"> Message</label>
                            <textarea name="" id="" cols="20" rows="10" placeholder="Write your text here..."></textarea>
                        </div>
                    </div>
                   
                    <div className="col ">
        
                        <div className="colo28s">
                                <a className="button38s " > Submit </a>
                        </div>
        
                    </div>
                </div>
            </form>
        </div>

        <div className="col-5">
            <p className="hs">Submit a Support to Our</p>
            <form className="mains2">
                <div className="row">
                    <div className="col-12">
                        <div className="inputf7s">
                            <div className="h68s">
                                <div className="row ">
                                    <div className=" col ">
                                        <p className="hs">Customer Support Team : 1-800-000-0000</p>
                                        <p className="hs">Psychic Support Line : 1-800-000-0000</p>
                                        <img className="icontel" src="assets/images/tel.png" alt="Icono"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div className="col-12">

                       
                        <div className="row ">
                            <div className="col-2 textphone "> <small>Monday</small></div>
                            <div className="col-10 textphone"><p>(08:00 AM to 11:00 PM)</p></div>
                            <div className="col-2 textphone"> <small>Tuesday</small></div>
                            <div className="col-10 textphone"><p>(08:00 AM to 11:00 PM)</p></div>
                            <div className="col-2 textphone"> <small>Wednesday</small></div>
                            <div className="col-10 textphone"><p>(08:00 AM to 11:00 PM)</p></div>
                            <div className="col-2 textphone"> <small>Thursday</small></div>
                            <div className="col-10 textphone"><p>(08:00 AM to 11:00 PM)</p></div>
                            <div className="col-2 textphone"> <small>Friday </small></div>
                            <div className="col-10 textphone"><p>(08:00 AM to 11:00 PM)</p></div>
                            <div className="col-2 textphone"> <small>Saturday </small></div>
                            <div className="col-10 textphone"><p>(08:00 AM to 11:00 PM)</p></div>
                            <div className="col-2 textphone"> <small>Sunday </small></div>
                            <div className="col-10 textphone"><p>(08:00 AM to 11:00 PM)</p></div>
                        </div>
                       
                        
                    </div>
                   
                   
                </div>
            </form>
        </div>

    </div>

    

</section>