<section>
<div className="h6">
    <div className="row ">
        <div className=" col colo">
            <h6 >Reading History</h6>
        </div>

        <div className=" col colo2">
            <a className="button3 mostrar" href="#card"> <i className="bi bi-filter"></i> Filters <span className="span">2</span> </a>

        </div>
    </div>
</div>





<div id="card" className="card1">
  <div className="row  checkboxes">
    <div col-12>
        <input type="checkbox" id="check1">
        <label for="check1">Phone</label>
    </div>
    <div col-12>
        <input type="checkbox" id="check1">
        <label for="check1">Chat</label>
    </div>
   
    <div col-12>
        <input type="checkbox" id="check1">
        <label for="check1">Message</label>
    </div>

    <div col-12>
        <input type="checkbox" id="check1">
        <label for="check1">Text</label>
    </div>

  </div>
   <div className="row line">
        
        <div className=" col-4 colo">
            <a className="button4 " >  Reset </a>
        </div>

        <div className=" col-8 colo2">
            <a className="button3 " >  Apply Filter </a>

        </div>
      
    </div>

  <a href="#" className="cerrar"><i className="bi bi-x-circle"></i></a>
</div>

  <div className="row">
            <div className="col colo2">
            </div>
  
          </div>
  
          <div className="card">
            <table>
              <thead>
                <tr>
                  <th>PSYCHIC </th>
                  <th>DATE</th>
                  <th>CALL START</th>
                  <th>CALL END</th>
                  <th>CALL DURATION</th>
                  <th>BOOK AGAIN</th>
                </tr>
              </thead>
              <tbody>
               
                <tr>
                  <td> <img className="profile-pic" src="assets/images/img.png"> Sky</td>
                  <td>Aug 29, 2022.</td>
                  <td>1: 20 PM</td>
                  <td>1: 20 PM</td>
                  <td>4m 27s</td>
                  <td> 
                    <a className="button5 " >  Book Again </a>
                </td>
                </tr>
                <tr>
                    <td> <img className="profile-pic" src="assets/images/img.png"> Sky</td>
                    <td>Aug 29, 2022.</td>
                    <td>1: 20 PM</td>
                    <td>1: 20 PM</td>
                    <td>4m 27s</td>
                    <td> 
                      <a className="button5 " >  Book Again </a>
                  </td>
                  </tr>
                  <tr>
                    <td> <img className="profile-pic" src="assets/images/img.png"> Sky</td>
                    <td>Aug 29, 2022.</td>
                    <td>1: 20 PM</td>
                    <td>1: 20 PM</td>
                    <td>4m 27s</td>
                    <td> 
                      <a className="button5 " >  Book Again </a>
                  </td>
                  </tr>
                  <tr>
                    <td> <img className="profile-pic" src="assets/images/img.png"> Sky</td>
                    <td>Aug 29, 2022.</td>
                    <td>1: 20 PM</td>
                    <td>1: 20 PM</td>
                    <td>4m 27s</td>
                    <td> 
                      <a className="button5 " >  Book Again </a>
                  </td>
                  </tr>
                  <tr>
                    <td> <img className="profile-pic" src="assets/images/img.png"> Sky</td>
                    <td>Aug 29, 2022.</td>
                    <td>1: 20 PM</td>
                    <td>1: 20 PM</td>
                    <td>4m 27s</td>
                    <td> 
                      <a className="button5 " >  Book Again </a>
                  </td>
                  </tr>
                  <tr>
                    <td> <img className="profile-pic" src="assets/images/img.png"> Sky</td>
                    <td>Aug 29, 2022.</td>
                    <td>1: 20 PM</td>
                    <td>1: 20 PM</td>
                    <td>4m 27s</td>
                    <td> 
                      <a className="button5 " >  Book Again </a>
                  </td>
                  </tr>
                  <tr>
                    <td> <img className="profile-pic" src="assets/images/img.png"> Sky</td>
                    <td>Aug 29, 2022.</td>
                    <td>1: 20 PM</td>
                    <td>1: 20 PM</td>
                    <td>4m 27s</td>
                    <td> 
                      <a className="button5 " >  Book Again </a>
                  </td>
                  </tr>
                  <tr>
                    <td> <img className="profile-pic" src="assets/images/img.png"> Sky</td>
                    <td>Aug 29, 2022.</td>
                    <td>1: 20 PM</td>
                    <td>1: 20 PM</td>
                    <td>4m 27s</td>
                    <td> 
                      <a className="button5 " >  Book Again </a>
                  </td>
                  </tr>
                  <tr>
                    <td> <img className="profile-pic" src="assets/images/img.png"> Sky</td>
                    <td>Aug 29, 2022.</td>
                    <td>1: 20 PM</td>
                    <td>1: 20 PM</td>
                    <td>4m 27s</td>
                    <td> 
                      <a className="button5 " >  Book Again </a>
                  </td>
                  </tr>
                  <tr>
                    <td> <img className="profile-pic" src="assets/images/img.png"> Sky</td>
                    <td>Aug 29, 2022.</td>
                    <td>1: 20 PM</td>
                    <td>1: 20 PM</td>
                    <td>4m 27s</td>
                    <td> 
                      <a className="button5 " >  Book Again </a>
                  </td>
                  </tr> 
                
              </tbody>
            </table>
          </div>
  
          <div className="paginati">
  
           
                  <a className="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true"></span>
                  </a>
                <button className="btn butto"><i className="bi bi-chevron-left"></i></button>
                <button className="btn  butto">1</button>
                <button className="btn  butto">2</button>
                <button className="btn  butto">3</button>
                <button className="btn  butto">4</button>
                <button className="btn  butto">5</button>
                <button className="btn  butto"><i className="bi bi-chevron-right"></i></button>
                  <a className="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true"></span>
                  </a>
               
  
          </div>
  
  </section>
  