<section>

    <div className="h67">
        <div className="row ">
            <div className=" col colo7">
                <h6 >Reading History</h6>
            </div>
    
            <div className=" col colo27">
                <a className="button37 mostrar" > <img className="imgI7" src="assets/images/icot.png" alt="Icono">  Filters <span className="span7">2</span> </a>
    
            </div>
        </div>
    </div>
  <div className="row">
          <div className="col colo7">
            <form className=" input-wrapper7 " role="search">
              <input className="input17" type="search" placeholder="Search Purchase History..." aria-label="Search">
               <img className="imgI9 seal7" src="assets/images/Icon2.png" alt="Icono"> 
            </form>
          </div>
  
            <div className="col colo27">
  
              <div className="row">
                <div className="col text7">Show per Page</div>
                <div className="col">
                  <select className=" select7 " aria-label="">
                    <option selected>1</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
  
            
            </div>
  
          </div>
  
          <div className="card">
            <table>
              <thead>
                <tr>
                  <th># </th>
                  <th>FUNDING ID</th>
                  <th>LAST NAME</th>
                  <th>FIRST NAME</th>
                  <th>DATE </th>
                  <th>TIME </th>
                  <th>AMOUNT <i className="bi bi-arrow-down-up"></i></th>
                  <th>TRANSACTION <i className="bi bi-arrow-down-up"></i><br> STATUS</th>
                  <th>RECEIPT </th>

                </tr>
              </thead>
              <tbody>
               
                <tr>
                  <td> 1 </td>
                  <td>123</td>
                  <td>Richardson</td>
                  <td>Alexandria</td>
                  <td>01/25/2022</td>
                  <td>1:24 PM</td>
                  <td>$200.00</td>
                  <td>Declined</td>
                  <td><button className="btable"> <i className="bi bi-download itable"></i> </button>  </td>
                </tr> 
                <tr>
                    <td> 1 </td>
                    <td>123</td>
                    <td>Richardson</td>
                    <td>Alexandria</td>
                    <td>01/25/2022</td>
                    <td>1:24 PM</td>
                    <td>$200.00</td>
                    <td>Declined</td>
                    <td><button className="btable"> <i className="bi bi-download itable"></i> </button>  </td>
                  </tr> 
                  <tr>
                    <td> 1 </td>
                    <td>123</td>
                    <td>Richardson</td>
                    <td>Alexandria</td>
                    <td>01/25/2022</td>
                    <td>1:24 PM</td>
                    <td>$200.00</td>
                    <td>Declined</td>
                    <td><button className="btable"> <i className="bi bi-download itable"></i> </button>  </td>
                  </tr> 
                  <tr>
                    <td> 1 </td>
                    <td>123</td>
                    <td>Richardson</td>
                    <td>Alexandria</td>
                    <td>01/25/2022</td>
                    <td>1:24 PM</td>
                    <td>$200.00</td>
                    <td>Declined</td>
                    <td><button className="btable"> <i className="bi bi-download itable"></i> </button>  </td>
                  </tr> 
                  <tr>
                    <td> 1 </td>
                    <td>123</td>
                    <td>Richardson</td>
                    <td>Alexandria</td>
                    <td>01/25/2022</td>
                    <td>1:24 PM</td>
                    <td>$200.00</td>
                    <td>Declined</td>
                    <td><button className="btable"> <i className="bi bi-download itable"></i> </button>  </td>
                  </tr> 
                  <tr>
                    <td> 1 </td>
                    <td>123</td>
                    <td>Richardson</td>
                    <td>Alexandria</td>
                    <td>01/25/2022</td>
                    <td>1:24 PM</td>
                    <td>$200.00</td>
                    <td>Declined</td>
                    <td><button className="btable"> <i className="bi bi-download itable"></i> </button>  </td>
                  </tr> 
                  <tr>
                    <td> 1 </td>
                    <td>123</td>
                    <td>Richardson</td>
                    <td>Alexandria</td>
                    <td>01/25/2022</td>
                    <td>1:24 PM</td>
                    <td>$200.00</td>
                    <td>Declined</td>
                    <td><button className="btable"> <i className="bi bi-download itable"></i> </button>  </td>
                  </tr> 
                  <tr>
                    <td> 1 </td>
                    <td>123</td>
                    <td>Richardson</td>
                    <td>Alexandria</td>
                    <td>01/25/2022</td>
                    <td>1:24 PM</td>
                    <td>$200.00</td>
                    <td>Declined</td>
                    <td><button className="btable"> <i className="bi bi-download itable"></i> </button>  </td>
                  </tr> 
                  <tr>
                    <td> 1 </td>
                    <td>123</td>
                    <td>Richardson</td>
                    <td>Alexandria</td>
                    <td>01/25/2022</td>
                    <td>1:24 PM</td>
                    <td>$200.00</td>
                    <td>Declined</td>
                    <td><button className="btable"> <i className="bi bi-download itable"></i> </button>  </td>
                  </tr> 
                  <tr>
                    <td> 1 </td>
                    <td>123</td>
                    <td>Richardson</td>
                    <td>Alexandria</td>
                    <td>01/25/2022</td>
                    <td>1:24 PM</td>
                    <td>$200.00</td>
                    <td>Declined</td>
                    <td><button className="btable"> <i className="bi bi-download itable"></i> </button>  </td>
                  </tr> 
               
              </tbody>
            </table>
          </div>
  
          <div className="paginati7">
  
           
                  
                <button className="btn butto7"><i className="bi bi-chevron-left"></i></button>
                <button className="btn  butto7">1</button>
                <button className="btn  butto7">2</button>
                <button className="btn  butto7">3</button>
                <button className="btn  butto7">4</button>
                <button className="btn  butto7">5</button>
                <button className="btn  butto7"><i className="bi bi-chevron-right"></i></button>
                  
               
  
          </div>
  
  </section>
  