<section>

    <div className="h68">
        <div className="row ">
            <div className=" col colo8">
                <h6 >Personal Information</h6>
            </div>
    
            <div className=" col colo28">
                <a className="button38 " > <i className="bi bi-pencil-square iconp"></i> Edit </a>
    
            </div>
        </div>
    </div>

    <form className="main">
        <div className="row">
            <div className="col ">
                 <div className="inputf">
                <label for="nombre">First Name</label>
                <input type="text" id="nombre" name="nombre"  autocomplete="off" placeholder="Enter First Name">
              </div>

              <div className="inputf">
                <label for="nombre">Contact No.</label>
                <input type="text" id="nombre" name="nombre"  autocomplete="off" placeholder="Enter Phone Number">
              </div>

              <div className="inputf">
                <label for="nombre">Date of Birth</label>
                <input type="date" className="inputp" id="nombre" name="nombre"  autocomplete="off" placeholder="Enter First Name">
              </div>
          
              
          
              <div className="inputf">
                <div className="divv">
                <label for="language">Preferred Language</label>
                <select id="language" name="language" className="styled-select">
                  <option value="1">English</option>
                  <option value="2">Spanish</option>
                </select>
                
              </div>
            
            </div>

            <div className="inputf">
                <div className="divv">
                <label for="zone">Time Zone</label>
                <select id="zone" name="zone" className="styled-select">
                  <option value="1">Select Time Zone</option>
                 
                </select>
                
              </div>
            
            </div>
        </div>
            <div className="col ">

                <div className="inputf">
                    <label for="nombre">Last Name</label>
                    <input type="text" id="nombre" name="nombre"  autocomplete="off" placeholder="Enter Last Name">
                  </div>

                  <div className="inputf">
                    <label for="nombre"> Contact for Psychic Reading </label>
                    <input type="text" id="nombre" name="nombre"  autocomplete="off" placeholder="Enter Phone Number ">
                  </div>

                  <div className="inputf">
                    <div className="divv">
                    <label for="gender">GenderGender</label>
                    <select id="gender" name="zone" className="styled-select">
                      <option value="1">Select Gender</option>
                     
                    </select>
                    
                  </div>
                
                </div>

                <div className="inputf">
                    <div className="divv">
                    <label for="other">Second Language</label>
                    <select id="other" name="other" className="styled-select">
                        <option value="" disabled selected>Select Language</option>
                        <option value="opcion1">Spanish</option>
                        <option value="opcion2">English</option>
                        
                    </select>
                    
                  </div>
                
                </div>

            </div>
        </div>
    </form>
  
  
    <div className="h68">
        <div className="row ">
            <div className=" col colo8">
                <h6 >Contact Information</h6>
            </div>
    
            <div className=" col colo28">
                <a className="button38 " > <i className="bi bi-pencil-square iconp"></i> Edit </a>
    
            </div>
        </div>
    </div>

    <form className="main">
        <div className="row">
            <div className="col-12"><div className="inputf7">
                <label for="nombre"> Contact Information</label>
                <input type="text" id="nombre" name="nombre"  autocomplete="off" placeholder="Enter Address">
              </div></div>

              <div className="col-12"><div className="inputf7">
                <label for="nombre">Unit Number</label>
                <input type="text" id="nombre" name="nombre"  autocomplete="off" placeholder="Enter Address">
              </div></div>
            <div className="col ">
                 

              
              
          

            <div className="inputf">
                <div className="divv">
                <label for="State">State</label>
                <select id="State" name="State" className="styled-select">
                    <option value="" disabled selected>Select State</option>
                  <option value="1">Select state 1</option>
                 
                </select>
                
              </div>
            
            </div>
        </div>
            <div className="col ">

                <div className="inputf">
                    <div className="divv">
                    <label for="Country">Country</label>
                    <select id="Country" name="Country" className="styled-select">
                        <option value="" disabled selected>USA</option>
                        <option value="opcion1">Spain</option>
                        <option value="opcion2">England</option>
                    </select>
                    
                  </div>
                </div>

            </div>
        </div>
    </form>

  </section>
  
