<section>
    <div class="h6">
        <div class="row ">
            <div class=" col colo">
                <h6 >My Wallet</h6>
            </div>
    
            <div class=" col colo2">
    
            </div>
        </div>
    </div>
    
      <div class="row">
        <div class="col">
            <div class="card wallet">
                <div class="row ">
                    <div class="col-md-8">
                        <div class="card-body ">
                          <p class="card-title cardt">Psychic Cash Balance</p>
                          <p class="card-text cardn">$140.00</p>
                          <a class="button3"> Buy Psychic Cash </a>
                        </div>
                      </div>
                  <div class="col-md-4">
                    <img src="assets/images/ilu.png" class="img-fluid rounded-start imgw" alt="...">
                  </div>
                 
                </div>
              </div>
        </div>
                <div class="col">
                    <div class="card wallet">
                        <div class="row ">
                            <div class="col-md-8">
                                <div class="card-body ">
                                  <p class="card-title cardt">Psychic Cash Balance</p>
                                  <p class="card-text cardn">$140.00</p>
                                  <a class="button3"> Buy Psychic Cash </a>
                                </div>
                              </div>
                          <div class="col-md-4">
                            <img src="assets/images/ilu.png" class="img-fluid rounded-start imgw" alt="...">
                          </div>
                         
                        </div>
                      </div>
                </div>
      
              </div>
      
            
      
              <div class="paginati">
      
               
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"></span>
                      </a>
                    <button class="btn butto"><i class="bi bi-chevron-left"></i></button>
                    <button class="btn  butto">1</button>
                    <button class="btn  butto">2</button>
                    <button class="btn  butto">3</button>
                    <button class="btn  butto">4</button>
                    <button class="btn  butto">5</button>
                    <button class="btn  butto"><i class="bi bi-chevron-right"></i></button>
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true"></span>
                      </a>
                   
      
              </div>
      
      </section>
      