

section{
    margin-left: 27%;
    margin-right: 3%;
    padding: 20px 20px 20px 20px  ;
    margin-bottom: 10%;
  }

  h6{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 48px;
    margin-bottom: 0px;
  }

  .h6{
    border-bottom: 1px solid #d2d2d2cb ;
    margin-bottom: 2%;
   
  }

  .colo{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    padding-right: 3rem;
  }

  .colo2{
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
    margin-top: 15px;
  }

  .input1{
    background: #D9D9D9;
    opacity: 0.3;
    border: 0.5px solid #696969;
    border-radius: 50px;
    padding: 7px 10px 7px 10px;
    width: 21rem;
    margin-right: 30px;
  }

  .imgI{
    width: 1rem;
    height: 1rem;
    margin-left: 0.3rem;
  }

  .seal{
    color: #000000;
    position: absolute;
    right: 45px;
    top: 27%;
   }

   .input-wrapper {
    position: relative;
  }

  .select{
    font-size: 0.8rem;
    border: 0.5px solid #d2d2d2cb;
    border-radius: 3px;
    height: 1.6rem;
    width: 5.5rem;

  }

  .text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 0.9rem;
margin-top: 0.4rem;
  }

  .card{
    margin-top: 1%;
  }



  .profile-pic {
    width: 20px;
    height: 20px;
      margin-right: 0%;
    margin-top: 1%;
     border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
  }

  .paginati{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 12%;
    
  }

  .butto{
    border: 1px solid #d2d2d2cb;
    margin: 0.4%;
    width: 1.7rem;
    height: 1.7rem;
    font-size: 0.8rem;
    padding: 3px 3px 3px 3px;
  }

  .butto:hover{
   background-color: #4B26AD;
   color: white;
  }

  .button3{
    background-color: #FB7B54;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 7px 25px 7px 25px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 15px;
    margin-bottom: 5px;
    
  }

  .span{
    background-color: #ffffff;
    color: #000000;
    border-radius: 60%;
    font-size: 0.7rem;
    padding: 0px 4px 1px 4px;
    margin-left: 9px;
  }

  .card1 {
    display: none;
    position: fixed;
    width: 300px;
    height: 220px;
    top: 18%;
    left: 72%;
    background-color: #F5F5F5;
    padding: 20px;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .card1:target {
    display: block;
  }
  
  .card1:target .cerrar {
    display: block;
  }
  
  .cerrar {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #ccc;
    color: #fff;
  }
  
  .mostrar:not(:target) {
    display: block;
  }

  .checkboxes {
    gap: 10px; 
  }

  input{
    background-color: #4B26AD;
    color: #fff;
    margin-right: 2%;
  }

  label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }

  .line{
    margin-top: 1%;
    border-top: 1px solid #ccc;

  }

  .button4{
    background-color: none;
    color: #FB7B54;
    border: 1px solid #FB7B54;
    border-radius: 50px;
    padding: 3px 22px 5px 22px;
    text-decoration: none;
    margin-top: 45%;
    font-family: 'Montserrat';
font-style: normal;
  }

  .button5{
    background-color: #4B26AD;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 5px 17px 7px 20px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    position: relative;
  }

  .wallet{
    position: relative;
    background-color: #97d0ed50;
    max-width: 100%;
    height: 105%;
  }

  .imgw{
    position: absolute;
   padding: 68px 5px 0px 0px;
   width: 47%;
   height: 98%;
   top: 2.5%;
   left: 51%;
  }
  .imgw2{
    position: absolute;
    padding: 68px 5px 0px 0px;
    width: 34%;
    height: 96%;
    top: 4.7%;
    left: 65%;
  }

  .cardt{
    margin-top: 18px;
    margin-bottom: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
  }

  .cardn{
    margin-bottom: 14%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 39px;
    color: #4B26AD;
  }
