<section>
    <div className="h61">
        <div className="row ">
            <div className=" col colo1">
                <h6 >My Wallet</h6>
            </div>
    
            <div className=" col colo21">
    
            </div>
        </div>
    </div>
    
      <div className="row">
        <div className="col">
            <div className="card wallet">
                <div className="row ">
                    <div className="col-8">
                        <div className="card-body ">
                          <p className="card-title cardt">Psychic Cash Balance</p>
                          <p className="card-text cardn">$140.00</p>
                          <button className="button31"> Buy Psychic Cash </button>
                        </div>
                      </div>
                  <div className="col-4">
                    <img src="assets/images/ilu.png" className="img-fluid rounded-start imgw" alt="...">
                  </div>
                 
                </div>
              </div>
        </div>
                <div className="col">
                    <div className="card wallet">
                        <div className="row ">
                            <div className="col-9">
                                <div className="card-body ">
                                  <p className="card-title cardt">Psychic Reward Balance</p>
                                  <p className="card-text cardn">$20.00</p>
                                  <button className="button31">View Rewards Activity </button>
                                </div>
                              </div>
                          <div className="col-2">
                            <img src="assets/images/ilu2.png" className=" imgw2" alt="...">
                          </div>
                         
                        </div>
                      </div>
                </div>
      
              </div>

              <div className="h71">
                <div className="row ">
                    <div className=" col colo1">
                        <h6 >Cards</h6>
                    </div>
            
                    <div className=" col colo21">
            
                    </div>
                </div>
            </div>
           
              <div className="row">
                <div className="col">
                    <div className="card wallet2">
                        <div className="row ">
                            <div className="">
                                <div className="card-body ">

                                    
                                  <p className=" parag">JOHN_CARD 1</p>
                                  <p className="parag1">DEFAULT</p>
                                  <div className="divider">
                                  </div>
                                  <p className="cardn1">
                                    Card No.
                                  </p>
                                  <p className="code">xxxx-xxxx-xxxx-5678</p>
                                  <img className="icard" src="assets/images/icard.png" alt="">

                                  <i className="bi bi-three-dots-vertical iconmenu"></i>

                                  <p className="cardn2">
                                    Expiry DATE
                                  </p>
                                  <p className="code2">12/10/2023</p>
                                 <strong className="icard2"><i className="bi bi-calendar4-week "></i></strong> 

                                  <p className="cardn3">
                                    Billing  Address
                                  </p>
                                  <p className="code3">1234 Main Street, Apt 404, Boston, Massachusetts-12345</p>
                                  <img className="icard3" src="assets/images/icard3.png" alt="">

                                  <p className="cardn4">
                                    Automatic Billing  <small className="smaller">(Recommended)</small>
                                  </p>
                                  <p className="code4">Off</p>
                                  <i className="bi bi-calendar3 icard4"></i>

                                  <div className="bubble " >
                                    <div className="textob2"><p>Set as Default Card</p></div> 
                                   <div className="textob"><div className="switch">
                                    <input type="checkbox" id="toggle" checked>
                                    <label for="toggle"></label>
                                  </div></div> 

                                <div className="textob3"><p>Automatic Billing</p></div> 
                                   <div className="textob4"><div className="switch">
                                    <input type="checkbox" id="toggle1" >
                                    <label for="toggle1"></label>
                                  </div></div> 

                                <button className="botonR">Remove Card</button>

                                </div>

                                </div>
                              </div>

                        </div>
                      </div>
                </div>
                        <div className="col">
                           <div className="card wallet2">
                        <div className="row ">
                            <div className="">
                                <div className="card-body ">

                                    
                                  <p className=" parag">JOHN_CARD 1</p>
                                  <p className="parag1">DEFAULT</p>
                                  <div className="divider">
                                  </div>
                                  <p className="cardn1">
                                    Card No.
                                  </p>
                                  <p className="code">xxxx-xxxx-xxxx-5678</p>
                                  <img className="icard" src="assets/images/icard.png" alt="">

                                  <i className="bi bi-three-dots-vertical iconmenu"></i>

                                  <p className="cardn2">
                                    Expiry DATE
                                  </p>
                                  <p className="code2">12/10/2023</p>
                                 <strong className="icard2"><i className="bi bi-calendar4-week "></i></strong> 

                                  <p className="cardn3">
                                    Billing  Address
                                  </p>
                                  <p className="code3">1234 Main Street, Apt 404, Boston, Massachusetts-12345</p>
                                  <img className="icard3" src="assets/images/icard3.png" alt="">

                                  <p className="cardn4">
                                    Automatic Billing  <small className="smaller">(Recommended)</small>
                                  </p>
                                  <p className="code4">Off</p>
                                  <i className="bi bi-calendar3 icard4"></i>

                                 

                                </div>
                              </div>

                        </div>
                      </div>
                        </div>
              
                      </div>

              <div className="paginati1">

                <button className="button31"><i className="bi bi-plus-circle-fill iconew"></i> Add New Card </button>
              </div>
      
      </section>
      