<section>
    <div className="h6">
        <div className="row ">
            <div className=" col colo">
                <h6 >My Wallet</h6>
            </div>
    
            <div className=" col colo2">
    
            </div>
        </div>
    </div>
    
      <div className="row">
        <div className="col">
            <div className="card wallet">
                <div className="row ">
                    <div className="col-8">
                        <div className="card-body ">
                          <p className="card-title cardt">Psychic Cash Balance</p>
                          <p className="card-text cardn">$140.00</p>
                          <button className="button3"> Buy Psychic Cash </button>
                        </div>
                      </div>
                  <div className="col-4">
                    <img src="assets/images/ilu.png" className="img-fluid rounded-start imgw" alt="...">
                  </div>
                 
                </div>
              </div>
        </div>
                <div className="col">
                    <div className="card wallet">
                        <div className="row ">
                            <div className="col-9">
                                <div className="card-body ">
                                  <p className="card-title cardt">Psychic Reward Balance</p>
                                  <p className="card-text cardn">$140.00</p>
                                  <button className="button3">View Rewards Activity </button>
                                </div>
                              </div>
                          <div className="col-2">
                            <img src="assets/images/ilu2.png" className=" imgw2" alt="...">
                          </div>
                         
                        </div>
                      </div>
                </div>
      
              </div>

              <div className="paginati">

                    <button className="btn butto"><i className="bi bi-chevron-left"></i></button>
                    <button className="btn  butto">1</button>
                    <button className="btn  butto">2</button>
                    <button className="btn  butto">3</button>
                    <button className="btn  butto">4</button>
                    <button className="btn  butto">5</button>
                    <button className="btn  butto"><i className="bi bi-chevron-right"></i></button>

              </div>
      
      </section>
      